<div class='main panel panel-primary'>
  <div class='panel-heading'>
    <h2>{{pageTitle}}</h2>
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-4 form-group'>
        <div class="input-group">
          <input type='text' class="form-control" [(ngModel)]="searchString" placeholder="Enter Search Text" />
          <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h3>Filtered by: {{searchString}} </h3>
      </div>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="filteredProducts.length == 0">
      <strong>No results found that match the phrase {{searchString}}</strong>
    </div>
    <table class='table table-hover' *ngIf="filteredProducts && filteredProducts.length">
      <thead>
        <tr>
          <th>
            <button class='btn btn-primary btn-xs' (click)="showImages = !showImages">{{buttonTitle}} Images</button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let p of filteredProducts">
          <td><img src={{p.imageUrl}} *ngIf="showImages" title="{{p.productName | uppercase}}"></td>
          <td>{{p.productName}}</td>
          <td>{{p.productCode | convertCharacter:'-':' '}}</td>
          <td>{{p.releaseDate}}</td>
          <td>{{p.price | currency:'EUR':true:'1.2-2' }}</td>
          <td><star class="rating" [rating]="p.starRating" (ratingClicked)="ratingClick($event)"></star></td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>